<div class="container">
  <button *ngIf="isLogged" mat-icon-button class="logout" (click)="logout()">
   Salir <mat-icon>logout</mat-icon>
  </button>
  <div class="content">
    <img src="../../../../assets/images/calendar.png" alt="calendar" />

    <h1>Bienvenido al módulo de calendarios</h1>
    <h4>Ingrese en su cuenta de google para continuar</h4>
  </div>
  <div class="login" *ngIf="!isLogged">
    <div>
      <asl-google-signin-button
        type="standard"
        size="large"
        text="signin_with"
      ></asl-google-signin-button>
    </div>
  </div>

</div>
