.container{
    margin:5%
}

.login{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.content{
    padding: 7%;
    text-align: center;
    img{
        width: 20%;
    }
}