<div class="container">
  <div class="content">
    <img src="../../../../assets/images/calendar.png" alt="Italian Trulli" />

    <h1>Bienvenido al módulo de calendarios</h1>
    <h4>Ingrese en su cuenta de google para continuar</h4>
  </div>
  <div class="login">
    <div>
      <asl-google-signin-button
        type="standard"
        size="large"
        text="signin_with"
      ></asl-google-signin-button>
    </div>

    <div *ngIf="!isLogged">
      <asl-google-signin-button
        type="standard"
        size="large"
        text="signup_with"
      ></asl-google-signin-button>
    </div>
  </div>
</div>
