.full-width-input {
  width: 300px;
}

.datetime-input {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: auto;
}

.example-chip-list {
  width: 100%;
}